# Ignored extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.vscode
.idea
.project
.settings

# Folders and file to ignore
.sass-cache
node_modules
cache
sample.csv
