# Ignored extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.vscode
.project
.settings

# Folders and file to ignore
node_modules
cache
.sass-cache
.codekit-cache
config.codekit3
sample.csv
