/* Variables */
$blue: #009efd;
$green: #2af598;
$red: #ff5d34;
$black: #4c4f52;
$silver: #f1f1f1;
$white: #fafafa;
$radius: 3px;
$breakpoint: 961px;
$size: clamp(10rem, 40vmin, 22.5rem);

/* Main Styles */
.batchpress {
  button {
    transition: all 0.25s ease;
  }

  &-jobs {
    margin-bottom: 2rem;
  }

  &-upload {
    display: none;
    margin-bottom: 2rem;
  }

  &-process {
    display: none;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 2.5rem 1.25rem;

    @media (min-width: $breakpoint) {
      margin: 2.5rem;
      gap: 2.5rem 5rem;
      grid-template-columns: auto 1fr;
    }
  }

  &-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: $size;
    width: $size;
    font-size: 1.25rem;
    background-color: $white;
    padding: 2.5rem;
    text-align: center;
    line-height: 1.2;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05), 0 0 20px 20px rgba(0, 0, 0, 0.05), 0 0 30px 30px rgba(0, 0, 0, 0.05);

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      background: linear-gradient(to right, $green, $blue);
      border-radius: 50%;
      transition: opacity 0.25s ease;
      animation: spinIt 2s linear infinite;
      z-index: -1;
    }

    &-job {
      display: block;
      font-size: 0.75rem;
      background: $silver;
      padding: 1px 3px;
      border-radius: $radius;
      text-transform: capitalize;
    }

    &-status {
      margin: 0.5rem 0 0;
    }
  }

  &-actions {
    display: flex;
    justify-content: center;
  }

  &-log {
    position: relative;
    background-color: $white;
    border-radius: $radius;
    margin: 0;
    overflow-y: auto;
    height: $size;
    width: 100%;
    max-width: 40rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);

    @media (min-width: $breakpoint) {
      justify-self: start;
    }

    &-heading {
      margin: 0 0 0.75rem;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid $silver;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
    }

    &-count {
      background: $blue;
      padding: 2px 4px;
      border-radius: $radius;
      color: $white;
      font-size: 0.75rem;
      line-height: 1.25;
    }

    ul:empty {
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% - 16px);
      width: 32px;
      height: 38px;
      border: 2px solid $silver;
      box-shadow: inset 0 -2px 0 0 $silver;
      border-radius: 3px;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        width: 12px;
        background-color: $silver;
        border-radius: $radius;
        bottom: -2px;
      }

      &::before {
        left: -2px;
      }

      &::after {
        right: -2px;
      }
    }

    li {
      margin: 0;
      padding: 0.375rem 1rem;
    }
  }

  &-show {
    display: block;
  }

  &-processing {
    .batchpress-form,
    .batchpress-back {
      display: none;
    }

    .batchpress-process {
      display: grid;
    }
  }

  &-done,
  &-error {
    .batchpress-message::before {
      animation-play-state: paused;
    }

    .batchpress-stop {
      display: none;
    }

    .batchpress-back {
      display: block;
    }
  }

  &-done .batchpress-message::before {
    background: $green;
  }

  &-error .batchpress-message::before {
    background: $red;
  }
}

/* Animations */
@keyframes spinIt {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
