/* Variables */
/* Main Styles */
.batchpress-process {
  display: none;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }

.batchpress-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 300px;
  font-size: 1.25rem;
  background-color: #fafafa;
  margin: 1.5rem auto 2.5rem;
  text-align: center;
  line-height: 1.4;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05), 0 0 20px 20px rgba(0, 0, 0, 0.05), 0 0 30px 30px rgba(0, 0, 0, 0.05); }
  .batchpress-message::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background: linear-gradient(to right, #2af598, #009efd);
    border-radius: 50%;
    transition: opacity 0.25s ease;
    animation: spinIt 2s linear infinite;
    z-index: -1; }
  .batchpress-message small {
    display: block;
    font-size: 0.5rem;
    background: #f1f1f1;
    padding: 1px 3px;
    border-radius: 3px;
    text-transform: capitalize; }

.batchpress-processing .batchpress-form,
.batchpress-processing .batchpress-back {
  display: none; }

.batchpress-processing .batchpress-process {
  display: flex; }

.batchpress-done .batchpress-message::before, .batchpress-error .batchpress-message::before {
  animation-play-state: paused; }

.batchpress-done .batchpress-stop, .batchpress-error .batchpress-stop {
  display: none; }

.batchpress-done .batchpress-back, .batchpress-error .batchpress-back {
  display: block; }

.batchpress-done .batchpress-message::before {
  background: #2af598; }

.batchpress-error .batchpress-message::before {
  background: #ff5d34; }

/* Animations */
@keyframes spinIt {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
